*{margin:0; padding:0;}
ul{list-style: none;}
a{text-decoration: none; color:#000;}

body{color:#333;}


#header{width:100%; margin:0 auto;height:134px;background: url(../images/back.png) no-repeat center top;text-align:center;}
.logo1{padding: 25px 0;margin-right:117px;}
/* .logo1{position:absolute;top: 50px;left: 25%;margin-left:300px;width:49.5px;height:37px ;}
.logo2{width:219.6px;height:25.2px ; position: absolute;top: 50px;left: 50%; margin-left: -102px;}
.logo3{position: absolute;top: 90px;left: 50%;margin-left: -35.5px;width:60.4px;height: 14.8px;} */
.navbox{width: 1320px;height:67px;margin: 0 auto;}
.nav{margin: 10px auto;height: 67px;width: 1320px;text-align: center;}
.nav li{float:left;width: 20%;}
.nav li a{display:block;color:#4b220b;padding:20px 80px;font-weight: bold;}

.main{position: relative; width: 100%;height:740px ;}
.mainbanner{display: block; width:100%;}


.nav>li{float:left;position: relative;}
.nav>li>a{display:block;height:28px;
        padding:20px 80px;
        font-weight: bold; color: #4b220b;}

.nav>li:nth-child(1){padding-left:0;}
.nav>li:nth-child(5){padding-right:0;}
.nav li a:hover {color:chocolate;background-color:#ccaf89;}
.nav li:hover .sub{display: block;}
.sub{width:100%; display:none; position: absolute;top:65px;left: 0;z-index:10;} 
.sub li{width: 100%;height:100%;}
.sub li a{display:block; 

background-color: #f2e0d2;border-bottom: 1px solid #d2a679;
        padding:10px 0;
        text-align: center;
}
.sub li a:hover{background-color: burlywood;}


.text{color:#4b220b;
        font-size:30px;
        position: absolute;top: 150px;left:50%;margin-left:-176px; text-align: center;line-height: 45px;}
.b1{width: 439.2px;height:50.4px; position: absolute;top: 380px;left: 50%;margin-left:-210px;}
.best{width: 1320px;height:900px;margin: 0 auto;text-align: center;}
.best1{margin:20px 0;}
.best2{color: #4b220b;
        font-size:30px;
}
.best3{margin-top: 20px;box-sizing: border-box;}
.best3 li{float: left;width:410px ;height: 620px;}

.best3 img{width: 100%;}

.best4{border: 2px solid #ccc;margin: 0 10px;}

.bete{margin:30px 0;}
.text1{line-height:30px;}

.btn{display:inline-block;border: 1px solid #ccc; padding: 5px 10px;margin-top:30px;font-weight: bold;}
.btn:hover {background: #ccc;}

/* h6{display:inline-block;border: 1px solid #ccc; padding: 5px 10px;margin-top: 30px;font-weight: bold;} */

.banner
{width:100%;height:450px;background: url(../images/rost.png);margin-top:30px;
}
.banner img{width:100%;}
.banner1{padding-top: 50px;margin-right:100px;width: 461px;margin-left: 60%;} 
h1{color: #4b220b;font-family:'정선동강';
font-weight:bold ;text-align: center;font-size: 60px;}
h2{font-family:'정선동강';font-size:medium;font-weight: lighter;margin-top: 10px;text-align: center;font-size: 40px;color: #4b220b;}
.banner_text{font-family: 'Noto sans'; font-size: small;margin-top: 30px;font-size:10px;text-align: left;line-height:20px;margin-left: 30px;}   

/*section*/
.section{width: 1320px;margin:50px auto;height: 1700px;text-align: center;}

.bean{width:1200px; height:1355px; 
        margin:0 auto;
}

.bean li{width:1200px; height:300px;
        border: 4px solid gainsboro;padding:20px 0;
        box-sizing: border-box;
        margin-top:150px;

        position:relative;
}

.beanimg{position:absolute;
        top:-58px; left:-4px;
} 

.beantext{padding-left:522px;}
.beanimg1{position: absolute;
        top:-68px; left:680px}



.section h2{font-size:30px; font-weight: bold; }
.section_1{height: 292px;margin-top: 50px;}

.text1{margin-top: 43px;
      color: #edd0ba;}
.text2{margin-top: 30px;color: #ccc;}
.text11 {margin-left: -470px;margin-top: 40px;
        color: #edd0ba;}
.text22{margin-top: 30px;color: #ccc;margin-left: -470px;}
.beantext3{position: absolute;top: 50px;left: -4px;}
.text111{padding-left:626px;margin-top: 18px;
        color: #edd0ba;}
.text222{margin-top: 14px;color: #ccc;padding-left:641px;}
.beanimg2{position:absolute;
        top:-58px; left:-4px;
} 
.section1{width:1200px;margin: 0 auto; height: 657px;text-align: center;}
.maping{margin: 20px 0 10px 0;}
.section11{width: 1320px;margin: 0 auto;height: 213px;}
.section2{width: 1320px;margin:50px auto;height:800px;text-align:center;}
.logoen{display:block;margin:200px 0 50px 410px;}
.section22{width: 1320px;margin:100px auto;height: 500px;box-sizing: border-box;}
.img1{width:390px;height:500px;float:left;margin-right: 5px;}


.img{width: 1320px;height: 500px;}
.img li{float: left;margin-right: 5px;}


.review{width: 1320px;margin:50px auto;height:1614px;}
.reviewtext{color: #4b220b;font-size:30px;font-weight: bold;}
.box{width:984px;margin:50px auto;height:1370px;background-color: #fbfaf9;padding:50px 150px;}
.reviewbox{width:1100px;margin:85px auto;height:375px;position: relative;}
.reviewbox li{float:left;}
.reviewbox li:nth-child(1){margin-right: 150px;}
h4{color:  #d2a679;font-size:30px;}
.starimg{margin:20px 0;}
.starl img{margin:20px 0;}
.st{position: absolute;top:63px;left: 770px;}
.startext{line-height:30px;}
.bt{display:inline-block;border: 1px solid #ccc; padding: 5px 10px;margin-top:20px;font-weight: bold;}
.bt:hover {background: #ccc;}
.address{width: 1320px;margin: 0 auto;height: 760px;text-align: center;}
.addresstext{color: #4b220b;
        font-size:30px;margin-bottom:50px;}
.addreesbox{margin: 50px auto;height: 500px;}

.addreesbox li{float:left;}
.addreesbox1{margin-left:150px;text-align:left;}
.addresstext1{margin-bottom: 20px;color: #333;}
.addresstext2{line-height: 30px;margin-bottom: 20px;}

.footer{width: 100%;height:334px;margin: 0 auto; background-color: #462626;}

.footerul{width: 1320px;margin: 0 auto;box-sizing: border-box;}
.footerul li{float:left;}
.footerlogo{width:300px; margin: 85px 5px;position: relative;}


.footertext{width:700px; color: #fff; margin-top:76px;margin-left: -7px;line-height:40px;}
.insta{width:220px; margin-top: 70px;}
